<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Material</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fragments/mainMenu.css"/>
</head>

<style>
    .error {
        color: red;
    }
</style>

<body>

<div th:insert="~{fragments/mainMenu}" class="mainMenu-container"></div>

<div class="content-container">
    <h2>Cadastro de Material</h2>

    <form action="/create/rawMaterial" th:object="${materialForm}" method="post">
        <div class="mb-3">
            <label for="raw-material_name" class="form-label">Nome do Material:</label>
            <input type="text" class="form-control" id="raw-material_name" name="name" th:field="*{name}"
                   th:value="*{name}">
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="raw-material_quantity" class="form-label">Quantidade:</label>
                    <input class="form-control" id="raw-material_quantity" name="quantity" th:field="*{quantity}"
                           th:value="*{quantity}">
                    <p th:if="${#fields.hasErrors('quantity')}" th:errorclass="error" th:errors="*{quantity}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="raw-material_unit" class="form-label">Unidade:</label>
                    <select class="form-control" id="raw-material_unit" name="unit" th:field="*{unit}">
                        <option th:each="unit : ${units}" th:value="${unit}"
                                th:text="${unit.getDisplayName()}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('unit')}" th:errorclass="error" th:errors="*{unit}"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="raw-material_price" class="form-label">Preço por unidade</label>
                    <input class="form-control" id="raw-material_price" name="unitPrice" th:field="*{unitPrice}"
                           th:value="*{unitPrice}">
                    <p th:if="${#fields.hasErrors('unitPrice')}" th:errorclass="error" th:errors="*{unitPrice}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="raw-material_total_price" class="form-label">Preço Total</label>
                    <input class="form-control" id="raw-material_total_price" name="unitPrice" th:field="*{totalPrice}"
                           th:value="*{totalPrice}">
                    <p th:if="${#fields.hasErrors('totalPrice')}" th:errorclass="error" th:errors="*{totalPrice}"></p>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="raw-material_expiredDate" class="form-label">Data de vencimento:</label>
            <input type="date" class="form-control" id="raw-material_expiredDate" name="expiredDate"
                   th:field="*{expiredDate}" th:value="*{expiredDate}">
            <p th:if="${#fields.hasErrors('expiredDate')}" th:errorclass="error" th:errors="*{expiredDate}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>

    </form>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        type="application/javascript"></script>
<script src="/js/rawMaterial/rawMaterial.js"></script>
</html>
