<nav>
    <div class="logo-company">
        <span>Not a Company</span>
    </div>

    <div class="menu-container">
        <button>
            <a href="">Dashboard</a>
        </button>
        <button>
            <a href="">Vendas</a>
        </button>
        <button>
            <a href="">Despesas</a>
        </button>
        <button>
            <a href="/list/rawMaterial">Material</a>
        </button>
        <button>
            <a href="/product/list">Produto</a>
        </button>
        <button>
            <a href="">Precificar</a>
        </button>
    </div>
</nav>
